body {
background-color:ligh gray;

}

#resume {

width:61%;
border:1px solid black;
margin:auto;
padding-right:30px;
padding:10px;
padding-left:30px;
}

#img {
width:220px;
margin-left:60px;

}